<form role="form">
	<div class="col-md-12">
		<div class="form-group">
			<label for="color">Color</label>
			<select id="color" class="form-control" ng-model="color" ng-options="attr for attr in attrs">
			</select>
		</div>
	</div>
</form>
<table style="width:100%">
	<tr ng-repeat="row in data">
		<td ng-repeat="song in row" style="width:10%; height:2em; background-color: hsl({{song[color] * 180 + 30}}, 100%, 50%)" ng-click="showDetail(song)"></td>
	</tr>
</table>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body" style="text-align: left">
				<p><b>Song Name: </b> {{selectedSong.song_name}}</p>
				<p><b>Artist Name: </b> {{selectedSong.artist_name}}</p>
				<p><b>Duration: </b> {{selectedSong.duration | number: 1}}s</p>
				<p><b>Energy: </b> {{selectedSong.energy}}</p>
				<p><b>Liveness: </b> {{selectedSong.liveness}}</p>
				<p><b>Tempo: </b> {{selectedSong.tempo}}</p>
				<p><b>Speechiness: </b> {{selectedSong.speechiness}}</p>
				<p><b>Acousticness: </b> {{selectedSong.acousticness}}</p>
				<p><b>Danceability: </b> {{selectedSong.danceability}}</p>
				<p><b>Instrumentalness: </b> {{selectedSong.instrumentalness}}</p>
				<p><b>Loudness: </b> {{selectedSong.loudness}}</p>
				<p><b>Valence: </b> {{selectedSong.valence}}</p>
				<iframe type="text/html" width="300" height="100" ng-src="{{trustSrc(selectedSong.steam)}}" frameborder="0">
			</div>
		</div>
	</div>
</div>